---
title: Tuesday morning
date: "2023-01-10"
---

tjena kompis

# Rubrik

<h1>Rubrik</h1>

## Mindre Rubrik

**asdadssad**

---

läget?

```css
  .shop {
    display: grid;
    grid-auto-flow: row; /* default */
    gap: 8px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
```